/* 慢慢买主题颜色 */
/* a的颜色 */
/* 边框颜色 */
* {
  margin: 0rem;
  padding: 0rem;
}
html {
  font-size: 100px;
}
body {
  font-size: 0.16rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
img {
  vertical-align: middle;
}
a {
  color: #666;
}
#header {
  height: 100px;
}
#main {
  flex: 1;
  overflow: hidden;
  position: relative;
}
#footer .top {
  display: flex;
}
#footer .top a {
  flex: 1;
  text-align: center;
  background-color: black;
  color: white;
}
#footer .bottom {
  background-color: black;
  height: 100px;
  padding-top: 20px;
  text-align: center;
}
#header .top {
  display: flex;
  width: 100%;
  background-color: hotpink;
  justify-content: space-between;
}
#header .top .logo {
  display: block;
  height: 45px;
}
#header .top .logo img {
  margin-left: 10px;
  margin-top: 10px;
  height: 25px;
}
#header .top .download {
  height: 100%;
  display: block;
  height: 45px;
}
#header .top .download img {
  height: 90%;
}
#header form {
  flex: 1;
  display: flex;
  padding-top: 10px;
}
#header form > input:first-of-type {
  width: 100%;
  height: 30px;
  border: 0px;
  border-radius: 15px;
  background-color: white;
  padding-left: 10px;
  text-align: left;
}
#header form > input:last-of-type {
  border-radius: 15px;
  background-color: grey;
  color: white;
  height: 30px;
}
#header .download {
  width: 60px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: red;
}
#main ul li {
  height: 50px;
  background-color: white;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  line-height: 50px;
  padding: 0 5px;
  border: 1px solid grey;
  box-sizing: content-box;
}
#main ul li i {
  line-height: 50px;
}
