html {
  /* 设置 根元素在 375屏幕下的时候 是100px   100px就是 26.66667vw */
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
input {
  outline: none;
  border: none;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#header {
  background-color: #ff4e49;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .1rem;
}
#header .logo a {
  display: block;
}
#header .logo a img {
  height: .25rem;
}
#header .appdown a {
  display: block;
}
#header .appdown a img {
  height: .34rem;
}
#mian {
  flex: 1;
}
#footer {
  background-color: #232a34;
  height: 1.18rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#footer .foot_top {
  height: .34rem;
  line-height: .34rem;
  border-bottom: 1px solid #727272;
  text-align: center;
  display: flex;
}
#footer .foot_top a {
  color: #fff;
  font-size: .14rem;
  width: 33.3%;
}
#footer .foot_top a:nth-child(n+1) {
  border-right: 1px solid #727272;
}
#footer .foot_top a:last-child img {
  width: .16rem;
  margin-right: .05rem;
}
#footer .foot_bottom {
  padding: .15rem 0;
}
#footer .foot_bottom p {
  color: #666;
  font-size: .12rem;
}
#footer .foot_bottom p a {
  color: #ff4e49;
}
#footer .foot_bottom p a:last-child {
  color: #bebebe;
}
#header {
  z-index: 999;
}
#header .logo a {
  display: block;
  width: .5rem;
  height: .5rem;
  text-align: center;
  color: #fff;
  line-height: .5rem;
}
#header h1 {
  font-size: .2rem;
  color: #fff;
}
#main {
  position: relative;
  flex: 1;
  padding-bottom: 1.18rem;
  background-color: #fff;
}
#main .mui-scroll-wrapper {
  bottom: 1.18rem;
}
#main .productDetail {
  padding: 0rem .2rem;
}
#main .productDetail .product .product-img {
  padding: .2rem 0rem;
}
#main .productDetail .product .product-img img {
  width: 100%;
}
#main .productDetail .product .title {
  font-size: .16rem;
  text-align: center;
}
#main .productDetail .product .info {
  font-size: .14rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#main .productDetail .product .shop {
  display: flex;
  justify-content: space-between;
  line-height: .3rem;
}
#main .productDetail .product .shop .price {
  color: orange;
}
#main .productDetail .product .shop .store {
  color: #ccc;
}
#main .productDetail .product .btn {
  display: flex;
  justify-content: space-between;
  padding: 0rem .3rem;
}
#main .productDetail .product .btn button {
  width: 49%;
}
#main .productDetail .QR-code {
  padding: .5rem 0rem;
}
#main .productDetail .QR-code img {
  width: 100%;
}
#main .productDetail .comment .title {
  font-size: .16rem;
  line-height: .2rem;
}
#main .productDetail .comment .reply textarea {
  height: .8rem;
}
#main .upTop {
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 999;
}
#main .upTop a {
  display: block;
  color: #ccc;
  font-size: .5rem;
  transform: rotateZ(-45deg);
}
#footer {
  z-index: 999;
}
